.api-key {
  margin: 1em 0;
  width: 100%;
  max-width: 100%;
  background-color: $background-color__content--primary;
  border-left: 1em solid $theme-color__accent;
  border-radius: 10px;
  @include BoxShadowHelper(2);
  padding: 1.25em 1.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .api-key__id {
    flex: 1;
  }

  .api-key__secret {
    flex: 2;
  }

  .label {
    color: $font-color__primary-text--black-on-light-background;
  }

}
