/*
 * An arbitrary block of content
 */
.content {
  position: relative;
  text-align: center;
  overflow: hidden;
  //background-color: $background-color__content--primary;
  padding-bottom: 10em;
  z-index: 5;

}
